<template>
  <div>
    <vue-good-table
        :columns="columns"
        :rows="data"
    >
      <div slot="table-actions">
        <div class="">
          <div class="d-none d-md-inline">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="mb1view"
                     v-model="mb1">
              <label class="form-check-label" for="mb1view">MB1</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="mb2view"
                     v-model="mb2">
              <label class="form-check-label" for="mb2view">MB2</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox"
                     id="gesprekjesView" v-model="gesprekjes">
              <label class="form-check-label"
                     for="gesprekjesView">Gesprekjes</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="mv3View"
                     v-model="mv3">
              <label class="form-check-label" for="mv3View">MV3</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="checkbox" id="mv4View"
                     v-model="mv4">
              <label class="form-check-label" for="mv4View">MV4</label>
            </div>
          </div>
        </div>
      </div>
      <template slot="table-row" slot-scope="props">
      <span v-if="props.column.field === 'mb1'">
        <span :class="calculateColor(props.row.aanwezigheid[0].status)" class="rounded px-2 py-1 d-inline-block w-100">
          <span class="text-body" v-text="calculateText(props.row.aanwezigheid[0].status)"></span>
        </span>
      </span>
      <span v-if="props.column.field === 'mb2'">
        <span :class="calculateColor(props.row.aanwezigheid[1].status)" class="rounded px-2 py-1 d-inline-block w-100">
          <span class="text-body" v-text="calculateText(props.row.aanwezigheid[1].status)"></span>
        </span>
      </span>
        <span v-if="props.column.field === 'gesprekjes'">
        <span :class="calculateColor(props.row.aanwezigheid[2].status)" class="rounded px-2 py-1 d-inline-block w-100">
          <span class="text-body" v-text="calculateText(props.row.aanwezigheid[2].status)"></span>
        </span>
      </span>
        <span v-if="props.column.field === 'mv3'">
        <span :class="calculateColor(props.row.aanwezigheid[3].status)" class="rounded px-2 py-1 d-inline-block w-100">
          <span class="text-body" v-text="calculateText(props.row.aanwezigheid[3].status)"></span>
        </span>
      </span>
        <span v-if="props.column.field === 'mv4'">
        <span :class="calculateColor(props.row.aanwezigheid[4].status)" class="rounded px-2 py-1 d-inline-block w-100">
          <span class="text-body" v-text="calculateText(props.row.aanwezigheid[4].status)"></span>
        </span>
      </span>
        <span v-else>
        {{ props.formattedRow[props.column.field] }}
      </span>
      </template>
    </vue-good-table>
  </div>
</template>

<script>
import {VueGoodTable} from 'vue-good-table';

export default {
  name: "AanwezigheidOverview",
  props: ['medewerkers', 'views'],

  components: {
    VueGoodTable
  },

  data() {
    return {
      data: {},
      columns: [
        {
          label: "Naam",
          field: this.fullName,
          firstSortType: 'desc',
          sortFn: this.sortName
        },
        {
          label: "MB1",
          field: "mb1",
          hidden: false,
          sortFn: this.sortMb1
        },
        {
          label: "MB2",
          field: "mb2",
          hidden: false,
          sortFn: this.sortMb2
        },
        {
          label: "Gesprekjes",
          field: "gesprekjes",
          hidden: true,
          sortFn: this.sortGesprekjes
        },
        {
          label: "MV3",
          field: "mv3",
          hidden: true,
          sortFn: this.sortMv3
        },
        {
          label: "MV4",
          field: "mv4",
          hidden: true,
          sortFn: this.sortMv4
        }
      ],
    }
  },
  created() {
    this.data = _.sortBy(this.medewerkers, ['persoonsgegevens.voornaam'])
  },

  methods: {
    fullName(rowObj) {
      return rowObj.persoonsgegevens.voornaam + ' ' + rowObj.persoonsgegevens.achternaam;
    },

    calculateColor(status) {
      return {
        "badge-success": status === 0,
        "badge-warning": status === 1,
        "badge-danger": status === 2,
        "badge-secondary": status === null,
      }
    },

    calculateText(status) {
      if (status === 0) {
        return 'Aanwezig';
      } else if (status === 1) {
        return 'Afgemeld';
      } else if (status === 2) {
        return 'Afwezig';
      }
      return 'Niet Bepaald';
    },

    toggleColumn(view, index) {
      this.$set(this.columns[index], 'hidden', view);
    },

    sortName(x, y, col, rowX, rowY) {
      return x.localeCompare(y)
    },

    sortMb1(x, y, col, rowX, rowY) {
      return (rowX.aanwezigheid[0].status < rowY.aanwezigheid[0].status ? -1 : (rowX.aanwezigheid[0].status > rowY.aanwezigheid[0].status ? 1 : 0))
    },

    sortMb2(x, y, col, rowX, rowY) {
      return (rowX.aanwezigheid[1].status < rowY.aanwezigheid[1].status ? -1 : (rowX.aanwezigheid[1].status > rowY.aanwezigheid[1].status ? 1 : 0))
    },
    sortGesprekjes(x, y, col, rowX, rowY) {
      return (rowX.aanwezigheid[2].status < rowY.aanwezigheid[2].status ? -1 : (rowX.aanwezigheid[2].status > rowY.aanwezigheid[2].status ? 1 : 0))
    },
    sortMv3(x, y, col, rowX, rowY) {
      return (rowX.aanwezigheid[3].status < rowY.aanwezigheid[3].status ? -1 : (rowX.aanwezigheid[3].status > rowY.aanwezigheid[3].status ? 1 : 0))
    },
    sortMv4(x, y, col, rowX, rowY) {
      return (rowX.aanwezigheid[4].status < rowY.aanwezigheid[4].status ? -1 : (rowX.aanwezigheid[4].status > rowY.aanwezigheid[4].status ? 1 : 0))
    },
  },

  computed: {
    mb1: {
      get() {
        return !this.columns[1].hidden
      },

      set(value) {
        this.columns[1].hidden = !value
      }
    },

    mb2: {
      get() {
        return !this.columns[2].hidden
      },

      set(value) {
        this.columns[2].hidden = !value
      }
    },


    gesprekjes: {
      get() {
        return !this.columns[3].hidden
      },

      set(value) {
        this.columns[3].hidden = !value
      }
    },

    mv3: {
      get() {
        return !this.columns[4].hidden
      },

      set(value) {
        this.columns[4].hidden = !value
      }
    },

    mv4: {
      get() {
        return !this.columns[5].hidden
      },

      set(value) {
        this.columns[5].hidden = !value
      }
    }
  }
}
</script>

<style scoped>

</style>