<template>
  <div class="row my-2 mx-1 border-bottom">
    <div class="col-sm text-center text-sm-left py-1"><span v-text="data.name"></span></div>
    <div class="col-sm col-lg-4 d-flex flex-row text-center mt-1 mt-sm-0 py-1">
      <div class="border-left" style="width: 25%">
        <div class="form-input">
          <button name="nb" type="button" class="btn btn-danger" @click="saveAanwezigheid(null)"><svg class="c-icon">
            <use xlink:href="/assets/stafplicatie/svg/free.svg#cil-x"></use>
          </svg></button>
        </div>
      </div>
      <div class="border-left d-flex justify-content-center align-items-center" @click="saveAanwezigheid(0)" style="width: 25%">
        <div class="form-check">
          <input class="form-check-input position-static"
                 type="radio"
                 :name="`${data.id}-aanwezig`" :id="`${data.id}-aanwezig`"
                 value="0" v-model="data.status"
                 aria-label="...">
        </div>
      </div>
      <div class="border-left d-flex justify-content-center align-items-center border-right" @click="saveAanwezigheid(1)" style="width: 25%">
        <div class="form-check">
          <input class="form-check-input position-static"
                 type="radio"
                 :name="`${data.id}-aanwezig`" :id="`${data.id}-afgemeld`"
                 value="1" v-model="data.status"
                 aria-label="...">
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center border-right" @click="saveAanwezigheid(2)" style="width: 25%">
        <div class="form-check">
          <input class="form-check-input position-static"
                 type="radio"
                 :name="`${data.id}-aanwezig`" :id="`${data.id}-afwezig`"
                 value="2" v-model="data.status"
                 aria-label="...">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['medewerker'],

  data() {
    return {
      data: this.medewerker,
    }
  },

  computed: {},

  methods: {
    saveAanwezigheid(status) {
      if (status !== this.data.status) {
        axios.put(`/stafplicatie/aanwezigheid/${this.data.id}`, {
          "status": status
        }).then(() => {
          this.data.status = status;
          events.$emit('aanwezigheidStatusChanged', {id: this.data.id, medewerker: this.data.medewerker, status: this.data.status})
        })
            .catch((e) => flash(e));
      }
    }
  }
}
</script>

<style type="text/css"></style>