<template>
    <div>
        <!-- Modal -->
        <div class="modal fade" id="apViewEditModal" tabindex="-1" role="dialog" aria-labelledby="apViewEditModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="apViewEditModalLabel">Actiepuntje</h5>
                        <button type="button" class="close" @click="closeModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" v-if="editing">
                            <label for="beschrijving">Beschrijving</label>
                            <textarea class="form-control" id="beschrijving" rows="3" v-model="beschrijving"
                                      required></textarea>
                        </div>
                        <div v-if="!editing">
                            <h5>Beschrijving</h5>
                            <div v-text="beschrijving"></div>
                        </div>

                        <hr>

                        <div class="form-group form-check-inline" v-if="editing" v-for="(user) in users">
                            <input class="form-check-input" type="checkbox" v-model="assignedUsers"
                                   :id="'view_edit_user_' + user.id" :value="user.id"/>
                            <label class="form-check-label" :for="'view_edit_user_' + user.id"
                                   v-text="user.name"> </label>
                        </div>
                        <div v-if="!editing">
                            <h5>Staffers</h5>
                            <div class="d-flex flex-wrap">
                                <span v-for="(user) in originalData.assignedUsers"
                                      class="border rounded px-2 py-1 mx-2 mb-2"
                                      :class="isUsersAp(user)"
                                      v-text="user.name"></span>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group" v-if="editing">
                            <datepicker class="" :disabled-dates="disabledDates" :format="format" :language="language"
                                        name="deadline" id="deadline" v-model="deadline"
                                        :input-class="'form-control'">
                            </datepicker>
                        </div>
                        <div v-if="!editing">
                            <div class="row">
                                <div class="col-md-6 mb-3">
                                    <h5>Deadline</h5>
                                    <div v-text="deadline"></div>
                                </div>
                                <div class="col-md-6 mb-3">
                                    <h5>Laatst gewijzigd:</h5>
                                    <div v-text="originalData.updated_at"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div v-if="originalData.deleted_at" class="col-12">
                                    <h5>Gedaan op</h5>
                                    <div v-text="originalData.deleted_at"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="cancel" v-text="cancelButton"></button>
                        <button type="button" class="btn btn-primary" @click="editing = true" v-if="!editing">Wijzigen
                        </button>
                        <button type="button" class="btn btn-primary" @click="save" v-if="editing">Opslaan</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import {nl} from 'vuejs-datepicker/dist/locale';

    export default {
        components: {
            Datepicker
        },

        props: ['assignableUsers'],

        data() {
            return {
                format: "dd-MM-yyyy",
                language: nl,
                disabledDates: {
                    to: moment().toDate(),
                },
                editing: false,
                originalData: {},
                beschrijving: '',
                deadline: '',
                assignedUsers: []
            }
        },

        created() {
            events.$on('openDetails', id => {
                axios.get(`/stafplicatie/actiepunt/${id}`)
                    .then(result => {
                        this.originalData = result.data;
                        this.setInitialState();
                        this.openModal();
                    })
                    .catch(error => toastr.error('Kan het APtje niet ophalen!'));
            });
        },

        computed: {
            cancelButton() {
                return this.editing ? 'Annuleer' : 'Sluit';
            },
            users() {
                return this.assignableUsers;
            }
        },

        methods: {
            openModal() {
                $('#apViewEditModal').modal('show');
            },
            closeModal() {
                $('#apViewEditModal').modal('hide');
            },
            save() {
                axios.patch(`/stafplicatie/actiepunt/${this.originalData.id}`, {
                    beschrijving: this.beschrijving,
                    deadline: moment(this.deadline).format('YYYY-MM-DD'),
                    assignedUsers: _.filter(this.users, (u) => {
                        return _.includes(this.assignedUsers, u.id);
                    })
                }).then(result => {
                    this.editing = false;
                    this.originalData = result.data;
                    this.setInitialState();
                    events.$emit('updated', result.data);
                }).catch(this.displayError);
            },
            isUsersAp(user) {
                return user.id === window.app.user.id ? 'border-primary bg-primary' : 'border-secondary bg-secondary';
            },
            cancel() {
                if (this.editing) {
                    this.editing = false;
                    this.setInitialState();
                } else {
                    this.closeModal();
                }
            },
            setInitialState() {
                this.beschrijving = this.originalData.beschrijving;
                this.deadline = this.originalData.deadline;
                this.assignedUsers = _.map(this.originalData.assignedUsers, (u) => u.id);
            },
            displayError(error) {
                toastr.error(error.response.data);
            }
        }
    }
</script>