<template>
    <div>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" @click="openModal()">
            Maak APtje
        </button>

        <!-- Modal -->
        <div class="modal fade" id="apModal" tabindex="-1" role="dialog" aria-labelledby="apModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="apModalLabel">AP Aanmaken</h5>
                        <button type="button" class="close" @click="closeModal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="beschrijving">Beschrijving</label>
                            <textarea class="form-control" id="beschrijving" rows="3" v-model="beschrijving" required></textarea>
                        </div>
                        <div class="form-group form-check-inline" v-for="(user) in users">
                            <input class="form-check-input" type="checkbox" v-model="assignedUsers"
                                   :id="'user_' + user.id" :value="user.id"/>
                            <label class="form-check-label" :for="'user_' + user.id" v-text="user.name">
                            </label>
                        </div>
                        <div class="form-group">
                            <datepicker class="" :disabled-dates="disabledDates" :format="format" :language="language"
                                        name="deadline" id="deadline" v-model="deadline" :input-class="'form-control'">
                            </datepicker>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" @click="closeModal">Annuleer</button>
                        <button type="button" class="btn btn-primary" @click="saveAndClose">Opslaan</button>
                        <button type="button" class="btn btn-success" @click="saveAndNext">Opslaan en volgende</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Datepicker from 'vuejs-datepicker';
    import {nl} from 'vuejs-datepicker/dist/locale';

    export default {
        components: {
            Datepicker
        },

        data() {
            return {
                format: "dd-MM-yyyy",
                language: nl,
                disabledDates: {
                    to: moment().toDate(),
                },
                users: {},
                assignedUsers: [],
                beschrijving: '',
                deadline: '',
            }
        },

        created() {
            axios.get('/stafplicatie/api/actiepunt/users')
                .then(result => this.users = result.data)
                .catch(error => toastr.error('Kan de gebruikers niet ophalen!'));
        },

        methods: {
            openModal() {
                $('#apModal').modal('show');
            },
            closeModal() {
                $('#apModal').modal('hide');
                this.clear();
            },
            clear() {
                this.assignedUsers = [];
                this.beschrijving = '';
                this.deadline = '';
            },
            save() {
                let data = {
                    beschrijving: this.beschrijving,
                    assignedUsers:  _.filter(this.users, (u) => {
                        return _.includes(this.assignedUsers, u.id);
                    })
                };
                if(this.deadline) {
                    data.deadline = moment(this.deadline).format('YYYY-MM-DD');
                }
                return axios.post('/stafplicatie/actiepunt', data);
            },
            saveAndClose() {
                this.save()
                    .then(result => {
                        this.success(result);
                        this.closeModal();
                    })
                    .catch(this.displayError);
            },
            saveAndNext() {
                this.save()
                    .then(result => {
                        this.success(result);
                        this.clear();
                    })
                    .catch(this.displayError);
            },
            success(result) {
                toastr.success('AP aangemaakt');
                this.$emit('added', result.data);
            },
            displayError(error) {
                toastr.error(error.response.data);
            }
        }
    }
</script>