<template>
    <div class="wrapper">
        <div class="custom-file-container" data-upload-id="imageUpload">
            <label>Upload <a role="button" href="javascript:void(0)"
                                  class="btn-sm btn-danger custom-file-container__image-clear"
                                  title="Clear Image">x</a>
            </label>
            <label class="custom-file-container__custom-file">
                <input type="file" class="custom-file-container__custom-file__custom-file-input" v-bind:class="{ 'is-invalid': error }" accept="image/*"
                       name="logo" id="logo">
                <input type="hidden" name="MAX_FILE_SIZE" value="10485760"/>
                <span class="custom-file-container__custom-file__custom-file-control"></span>
            </label>
            <div class="custom-file-container__image-preview"></div>
            <div v-if="error">{{ error }}</div>
        </div>
    </div>
</template>

<script>
    import 'file-upload-with-preview/dist/file-upload-with-preview.min.css'
    import FileUploadWithPreview from 'file-upload-with-preview'

    export default {
        name: 'ImageUpload',
        props: ['error'],
        data() {
            return {
                upload: null
            }
        },
        mounted() {
            this.upload = new FileUploadWithPreview('imageUpload');
        }
    }
</script>

<style>
    .wrapper {
        max-width: 100%;
        margin: 0 auto;
    }

    .custom-file-container__image-preview {
        background-size: contain;
    }
</style>