<template>
    <div v-if="isIncasso">
        <a href="#" @click.prevent="updateStatus" v-text="updatedStatusText"></a>
    </div>
</template>

<script>
    export default {
        props: ['latestBetaling'],

        computed: {
            isIncasso() {
                return this.latestBetaling.type === 'incasso';
            },

            updatedStatusText() {
                return this.latestBetaling.status === 'open' ? 'Betaald' : 'Niet betaald';
            }
        },

        methods: {
            updateStatus() {
                if (this.latestBetaling.status === 'open') {
                    axios.post(`/stafplicatie/api/betaling/${this.latestBetaling.id}/paid`)
                        .then(() => {
                            toastr.success('Gemarkeerd als betaald');
                            this.$emit('onStatusChange', 'paid');
                        }).catch(error => {
                        toastr.error(error);
                    });
                } else {
                    axios.post(`/stafplicatie/api/betaling/${this.latestBetaling.id}/open`)
                        .then(() => {
                            toastr.success('Gemarkeerd als onbetaald');
                            this.$emit('onStatusChange', 'open');
                        }).catch(error => {
                        toastr.error(error);
                    });
                }
            }
        }

    }
</script>