<template>
    <div>
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <div>
                    (<span v-text="resultFrom"></span> - <span v-text="resultTo"></span>) van <span
                        v-text="filteredData.length"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-12 col-md-6 col-lg-3">
                <label for="itemsPerPage">Aantal per pagina</label>
                <select id="itemsPerPage" class="form-control" v-model="itemsPerPage">
                    <option value="10" selected>10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <label for="betaalMethode">Betaalmethode</label>
                <select id="betaalMethode" class="form-control" v-model="queryFilters.paymentMethod">
                    <option value="" selected>Alle</option>
                    <option value="ideal">iDeal</option>
                    <option value="incasso">Incasso</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <label for="presentie">Presentie</label>
                <select id="presentie" class="form-control" v-model="queryFilters.presentie">
                    <option value="">Alle</option>
                    <option value="open">Open</option>
                    <option value="afgemeld">Afgemeld</option>
                </select>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <label for="betaald">Betaald</label>
                <select id="betaald" class="form-control" v-model="queryFilters.paymentStatus">
                    <option value="">Alle</option>
                    <option value="paid">Betaald</option>
                    <option value="open">Open</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="d-table-cell" scope="col">Naam</th>
                        <th class="d-none d-lg-table-cell" scope="col">Email</th>
                        <th class="d-none d-lg-table-cell" scope="col">Methode</th>
                        <th class="d-none d-md-table-cell" scope="col">Betaald</th>
                        <th class="d-none d-lg-table-cell" scope="col">Presentie</th>
                        <th class="d-table-cell" scope="col"></th>
                    </tr>
                    <tr>
                        <th class="d-table-cell" scope="col">
                            <input class="form-control" type="text" placeholder="Zoek" v-model="naamFilter">
                        </th>
                        <th class="d-none d-lg-table-cell" scope="col">
                            <input class="form-control" type="text" placeholder="Zoek" v-model="emailFilter">
                        </th>
                        <th class="d-none d-lg-table-cell" scope="col"></th>
                        <th class="d-none d-md-table-cell" scope="col"></th>
                        <th class="d-none d-lg-table-cell" scope="col"></th>
                        <th class="d-table-cell" scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <inschrijving-row v-for="(inschrijving, index) in renderedData" :key="inschrijving.id"
                                      :inschrijving="inschrijving"></inschrijving-row>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary mx-3" @click="index--" :disabled="page === 1">&laquo; Vorige</button>
                    <button class="btn btn-primary mx-3" @click="index++" :disabled="page >= totalPages">
                        Volgende &raquo;
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import InschrijvingRow from './InschrijvingRow';

    export default {
        components: {InschrijvingRow},

        data() {
            return {
                baseUrl: '/stafplicatie/api/inschrijving',
                dataSet: {},
                itemsPerPage: 10,
                index: 0,
                queryFilters: {
                    paymentMethod: "",
                    paymentStatus: "",
                    presentie: "",
                },
                naamFilter: "",
                emailFilter: ""
            }
        },

        created() {
            this.debouncedGetResults = _.debounce(this.getResults, 1200);

            this.getResults();
        },

        computed: {
            totalPages() {
                return Math.ceil(this.filteredData.length / this.itemsPerPage)
            },

            paginationIndex() {
                return this.index * this.itemsPerPage;
            },

            renderedData() {
                return _.slice(this.filteredData, this.paginationIndex, this.paginationIndex + this.itemsPerPage);
            },

            page() {
                return this.index + 1;
            },

            resultFrom() {
                return this.totalPages ? this.paginationIndex + 1 : 0;
            },

            resultTo() {
                let to = this.paginationIndex + this.itemsPerPage;
                return to > this.filteredData.length ? this.filteredData.length : to;
            },

            queryParams() {
                let queryString = '';
                _.forEach(this.queryFilters, function (value, key) {
                    if (value) {
                        if (queryString) {
                            queryString += '&';
                        }
                        queryString += `${key}=${value}`;
                    }
                });
                if (queryString) {
                    queryString = `?${queryString}`;
                }
                return queryString;
            },

            filteredData() {
                let filtered = _.filter(this.dataSet, o => {
                    return _.lowerCase(`${o.persoon.voornaam} ${o.persoon.achternaam}`).includes(_.lowerCase(this.naamFilter));
                });
                return _.filter(filtered, o => {
                    return _.lowerCase(o.persoon.email).includes(_.lowerCase(this.emailFilter));
                });
            }
        },

        watch: {
            queryParams: function () {
                this.debouncedGetResults();
            }
        },

        methods: {
            getResults() {
                axios.get(this.baseUrl + this.queryParams)
                    .then(result => {
                        this.dataSet = result.data;
                    })
                    .catch(error => console.error(error));
            }
        }
    }

</script>