<template>
    <tr>
        <th class="align-middle d-table-cell" scope="row" v-text="kampjaar.jaar"></th>
        <td class="align-middle d-none d-md-table-cell" v-text="kampjaar.start"></td>
        <td class="align-middle d-none d-md-table-cell" v-text="kampjaar.eind"></td>
        <td class="align-middle d-none d-lg-table-cell">
            <div class="row">
                <div class="col">
                    <span class="badge"
                          :class="kampjaar.actief ? 'bg-success' : 'bg-danger'"
                          v-text="kampjaar.actief ? 'Actief' : 'Inactief'"></span>
                </div>
                <div class="col">
                  <div class="custom-control custom-switch">
                    <label class="c-switch c-switch-success">
                      <input type="checkbox" class="c-switch-input" :id="`${kampjaar.jaar}-actief`"
                             :checked="kampjaar.actief"
                             :disabled="kampjaar.actief"
                             @change="activate()">
                      <span class="c-switch-slider"></span>
                    </label>
                  </div>
                </div>
            </div>
        </td>
        <td class="align-middle d-none d-lg-table-cell">
            <div class="row">
                <div class="col">
                    <span class="badge" :class="kampjaar.open ? 'bg-success' : 'bg-danger'"
                          v-text="kampjaar.open ? 'Open' : 'Gesloten'"></span>
                </div>
                <div class="col">
                  <label class="c-switch c-switch-success">
                    <input type="checkbox" class="c-switch-input"
                           :checked="kampjaar.open"
                           :disabled="!kampjaar.actief"
                           @change="registrationStatus()">
                    <span class="c-switch-slider"></span>
                  </label>
                </div>
            </div>
        </td>
        <td class="align-middle d-none d-lg-table-cell">
            <img :src="kampjaar.logo" :alt="'HU Logo ' + kampjaar.jaar"
                 width="100px" height="100px">
        </td>
        <td class="align-middle">
            <a role="button" class="btn btn-primary"
               :href="'/stafplicatie/kampjaar/' + kampjaar.jaar + '/edit'"><span
                    class="fas fa-edit"></span>
            </a>
            <button v-show="!kampjaar.actief" class="btn btn-danger"
                    @click="deleteJaar()">
                <i class="fas fa-trash"></i>
            </button>
        </td>
    </tr>
</template>

<script>
    export default {
        name: "KampjaarTableRow",

        props: ['jaar'],

        data() {
            return {
                kampjaar: this.jaar
            }
        },

        created() {
            window.events.$on('activated', data => {
                if(this.kampjaar.actief) {
                    this.kampjaar.actief = false;
                    this.kampjaar.open = false;
                }
            })
        },

        methods: {
            deleteJaar() {
                axios.delete('/stafplicatie/kampjaar/' + this.kampjaar.jaar)
                    .then(response => {
                        toastr.success('Kampjaar verwijderd!');
                        this.$emit('deleted', this.kampjaar.jaar);
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                    })
                ;
            },
            activate() {
                axios.post('/stafplicatie/api/kampjaar/' + this.kampjaar.jaar + '/activate')
                    .then(result => {
                        window.events.$emit('activated');
                        this.kampjaar.actief = true;
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                        console.log(error);
                    });
            },
            registrationStatus() {
                let baseUrl = '/stafplicatie/api/kampjaar/' + this.kampjaar.jaar;
                if (this.kampjaar.open) {
                    baseUrl += '/close'
                } else {
                    baseUrl += '/open'
                }
                axios.post(baseUrl)
                    .then(result => {
                        this.kampjaar.open = !this.kampjaar.open;
                    })
                    .catch(error => {
                        toastr.error(error.response.data);
                        console.log(error);
                    })
            }
        },

    }
</script>