<template>
  <div>
    <div class="input-group mb-3" v-show="!editing">
      <input type="text" v-model="maat" class="form-control" placeholder="M" aria-label="Kledingmaat"
             aria-describedby="basic-addon2" disabled>
      <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2" @click="toggleEdit"><span class="fa fa-pen"></span></span>
      </div>
    </div>
    <div v-if="editing" class="d-flex align-items-center mb-3">
      <div class="flex-fill ">
        <select v-model="maat" class="form-control" @change="pickOption">
          <option value="XS">XS</option>
          <option value="S">S</option>
          <option value="M">M</option>
          <option value="L">L</option>
          <option value="XL">XL</option>
        </select>
      </div>
      <div><button type="button" class="btn btn-link" @click="toggleEdit">Cancel</button></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "KledingmaatEdit",
  props: ['inschrijvingId', 'kledingmaat'],

  data() {
    return {
      maat: this.kledingmaat,
      id: this.inschrijvingId,
      editing: false
    }
  },

  methods: {
    toggleEdit() {
      this.editing = !this.editing;
    },
    pickOption() {
      axios.put(`/stafplicatie/inschrijving/${this.inschrijvingId}`, {
        'kledingmaat': this.maat
      });
      this.editing = !this.editing;
    }
  }

}
</script>

<style scoped>

</style>