<template>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Laatste betalingsdata:</h5>
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    Transactie ID:
                </div>
                <div class="col-6 d-flex align-items-center">
                    <span v-text="betaling.transactie_id"></span>
                </div>
            </div>
            <div class="row d-flex align-items-center">
                <div class="col-6 d-flex align-items-center">
                    Betalingsstatus:
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6 d-flex align-items-center">
                            <payment-status-badge :status="betaling.status"></payment-status-badge>
                        </div>
                        <div class="col-6 d-flex align-items-center">
                            <incasso-payment-update :latest-betaling="betaling"
                                                    @onStatusChange="updateStatus"></incasso-payment-update>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    Type:
                </div>
                <div class="col-6 d-flex align-items-center">
                    <span v-text="type"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-6 d-flex align-items-center">
                    Annuleringsverzekering:
                </div>
                <div class="col-6 d-flex align-items-center">
                    <span class="badge badge-pill" :class="'badge-' + badgeType" v-text="badgeText"></span>
                </div>
            </div>
            <div class="row d-flex align-items-center mt-3" v-if="isIdeal() && !isPaid()">
                <div class="col-6 d-flex align-items-center">
                    Betaling link:
                </div>
                <div class="col-6 d-flex align-items-center">

                    <div class="input-group">
                        <input class="form-control" type="text" :value="retryUrl" readonly>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                                    data-toggle="tooltip" title="Gekopieerd!"
                                    v-clipboard="retryUrl" v-clipboard:success="copySuccess">
                                <i class="fas fa-copy"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import IncassoPaymentUpdate from './IncassoPaymentUpdate';

    export default {
        props: ['id', 'latestBetaling', 'annuleringsverzekering'],
        components: {IncassoPaymentUpdate},

        data() {
            return {
                betaling: this.latestBetaling,
            }
        },

        created() {
        },

        computed: {
            type() {
                return _.upperFirst(this.betaling.type);
            },
            badgeType() {
                return this.annuleringsverzekering ? 'success' : 'danger';
            },
            badgeText() {
                return this.annuleringsverzekering ? 'Ja' : 'Nee';
            },
            retryUrl() {
                return `https://www.haaguit.com/betalingen/opnieuw?id=${this.id}`;
            },
        },

        methods: {
            updateStatus(data) {
                this.betaling.status = data;
            },

            isIdeal() {
                return this.betaling.type === 'ideal';
            },

            isPaid() {
                return this.betaling.status === 'paid';
            },

            copySuccess() {
                let tooltipper = $('#button-addon2').tooltip({trigger: "manual"});
                tooltipper.tooltip('show');
                setTimeout(() => tooltipper.tooltip('hide'), 3000);
            }
        }

    }
</script>