<template>

</template>
<script>
    export default {
        created() {
            Echo.private('dashboard')
                .listen('RegistrationSuccessEvent', this.flash);
        },

        methods: {
            flash(e) {
                toastr.info('Er is een nieuwe inschrijving!');
            }
        }
    }
</script>