<template>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-12 d-flex justify-content-between">
                    <h5 class="card-title" v-text="titel" v-if="!editing"></h5>
                    <input type="text" class="form-control" v-model="titel" v-if="editing">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <small class="text-muted" v-text="createdAt"></small>
                </div>
            </div>
            <hr>
            <div class="row" v-if="!editing">
                <div class="col-12">
                    <div v-html="compiledMarkdown"></div>
                </div>
            </div>
            <div class="row" v-if="editing">
                <div class="col-md-6 d-flex align-items-stretch">
                    <textarea class="form-control" v-model="tekst" @input="update"
                              style="min-height: 435px;"></textarea>
                </div>
                <div class="col-md-6">
                    <div v-html="compiledMarkdown"></div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex align-items-center">
            <div class="mr-auto">
                <a href="https://www.markdownguide.org/cheat-sheet">Markdown</a> supported!
            </div>
            <button class="btn btn-primary" v-if="!editing" @click="editing = true">
                Wijzigen
            </button>
            <button class="btn btn-link" v-if="editing" @click="cancel">
                Annuleren
            </button>
            <button class="btn btn-success" v-if="editing" @click="save">
                Opslaan
            </button>
        </div>
    </div>
</template>

<script>
    import marked from 'marked';

    export default {
        name: "NieuwsberichtEditor",
        props: ['nieuwsbericht'],

        data() {
            return {
                editing: false,
                titel: this.nieuwsbericht.titel,
                tekst: this.nieuwsbericht.tekst
            }
        },
        computed: {
            createdAt() {
                return `Gepubliceerd op: ${this.nieuwsbericht.created_at}`;
            },

            compiledMarkdown() {
                return marked(this.tekst, {sanitize: true})
            }
        },
        methods: {
            save() {
                axios.patch('/stafplicatie/nieuwsbericht/' + this.nieuwsbericht.id, {
                    titel: this.titel,
                    tekst: this.tekst
                }).then(result => {
                    toastr.success('Opgeslagen!');
                    this.editing = false;
                }).catch(error => {
                    console.log(error);
                    toastr.error(error.response.data);
                });


            },

            cancel() {
                this.tekst = this.nieuwsbericht.tekst;
                this.editing = false;
            },

            update() {
                _.debounce(function (e) {
                    this.tekst = e.target.value
                }, 300)
            }
        }

    }
</script>

<style scoped>

</style>