<template>
    <a href="#" @click.prevent="updateStatus" v-text="updatedStatusText"></a>
</template>

<script>
    export default {
        props: ['presentie', 'id'],

        computed: {
            updatedStatusText() {
                return this.presentie === 'open' ? 'Afgemeld' : 'Open';
            }
        },
        methods: {
            updateStatus() {
                if (this.presentie === 'open') {
                    axios.post(`/stafplicatie/api/inschrijving/${this.id}/unregister`)
                        .then(() => {
                            toastr.success('Gemarkeerd als uitgeschreven');
                            this.$emit('change', 'afgemeld');
                        }).catch(error => {
                        toastr.error(error);
                    });
                } else {
                    axios.post(`/stafplicatie/api/inschrijving/${this.id}/open`)
                        .then(() => {
                            toastr.success('Gemarkeerd als open');
                            this.$emit('change', 'open');
                        }).catch(error => {
                        toastr.error(error);
                    });
                }
            }
        }
    }
</script>