<template>
    <div>
        <div class="row" v-show="!loading">
            <div class="col-xl-3 col-lg-6 col-12">
                <statistics-card :number="registrations.total" text="Inschrijvingen" icon="icon-user"
                                 background="success"></statistics-card>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <statistics-card :number="actiepunten.total" text="Actiepunten" icon="icon-info"
                                 background="info"></statistics-card>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <statistics-card :number="apDonePercent" text="Actiepunten afgemaakt" icon="icon-check"
                                 background="info"></statistics-card>
            </div>
            <div class="col-xl-3 col-lg-6 col-12">
                <statistics-card :number="usersActiepuntenCount" text="Jouw actiepunten" icon="icon-user-following"
                                 background="info"></statistics-card>
            </div>
        </div>
        <div v-show="loading">
            <div class="alert alert-secondary text-center" role="alert">
                Laden...
            </div>
        </div>
        <div class="row" v-show="!loading">
            <div class="col-md-6 d-flex align-items-stretch">
                <monthly-registration-statistics :registrations="registrations"></monthly-registration-statistics>
            </div>
            <div class="col-md-6 d-flex align-items-stretch">
                <actiepunten-list :actiepunten="actiepunten.users"></actiepunten-list>
            </div>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import StatisticsCard from "../components/StatisticsCard";
    import MonthlyRegistrationStatistics from "../components/MonthlyRegistrationStatistics";
    import ActiepuntenList from "../components/ActiepuntenList";

    export default {
        name: "DashboardPage.vue",
        components: {
            MonthlyRegistrationStatistics,
            StatisticsCard,
            ActiepuntenList
        },

        data() {
            return {
                registrations: {},
                actiepunten: {}
            }
        },

        computed: {
            loading() {
                return _.isEmpty(this.registrations) && _.isEmpty(this.actiepunten);
            },

            year() {
                return moment().year();
            },

            apDonePercent() {
                return this.actiepunten.total ? _.round((this.actiepunten.done / this.actiepunten.total) * 100) + '%' : '0%';
            },

            usersActiepuntenCount() {
                return this.actiepunten.users ? this.actiepunten.users.length : 0;
            }
        },

        mounted() {
            axios.get(`api/statistics/${this.year}/registrations`)
                .then(({data}) => {
                    this.registrations = data;
                });
            axios.get(`api/statistics/${this.year}/actiepunten`)
                .then(({data}) => {
                    this.actiepunten = data;
                })
        }
    }
</script>

<style scoped>

</style>