<template>
    <div class="box text-box">
        <div>
            <h3 class="box-sub-title">
                Hieronder vind je de laatste 5 nieuwsberichten:
            </h3>
            <div class="news-list-box">
                <div class="loader" v-if="loading">Even ophalen... <i class="fas fa-spin fa-spinner"></i></div>
                <ul v-if="!loading">
                    <li v-for="article in news" class="nieuws">
                    <span class="date">
                        {{ formatDate(article.created_at) }}
                    </span>
                        <span class="nieuws">
                        <a :href="`nieuws/${article.id}`">{{ article.titel }}</a>
                    </span>
                    </li>
                </ul>
            </div>
            <div class="box-footer">
                <a href="/nieuws">Lees meer ></a>
            </div>
        </div>
    </div>
</template>

<script>

    import moment from 'moment';

    export default {
        data() {
            return {
                loading: true,
                count: 5,
                news: []
            }
        },

        mounted() {
            axios.get(`/api/nieuws/feed?count=${this.count}`)
                .then((response) => {
                    this.news = response.data;
                    this.loading = false;
                })
                .catch(error => {
                    console.error(error);
                    this.loading = true;
                });
        },

        methods: {
            formatDate(date) {
                return moment(date).format("YYYY-MM-DD");
            }
        }
    }
</script>
<style scoped>
    .news-list-box {
        margin: 15px 0;
    }

    .loader {
        text-align: center;
    }
</style>
