<template>
    <div class="box quote-box">
        <p class="quote" v-text="quote.tekst"></p>
        <div class="box quoter">
            <span class="name" v-text="quote.naam"></span>
            <span class="year">Haag Uit <span v-text="quote.jaar"></span></span>
        </div>
    </div>
</template>


<script>
    import textFit from 'textfit';

    export default {
        props: ['data'],

        data() {
            return {
                quote: {},
            }
        },

        mounted() {
            this.quote = this.data || {
                tekst: 'Haag Uit was de beste ervaring die ik ooit heb gehad!',
                naam: 'Clemens',
                jaar: 2011
            };
        },

        updated: function () {
            textFit($('.quote')[0]);
        }
    }
</script>
<style scoped>
    .quote-box {
        width: 260px;
        height: 178px;
        margin: -50px auto 16px auto;
        padding: 16px 16px;
        background: transparent url('../../img/quote-box-bg.png') top center no-repeat;
        color: #fff;
    }

    .quote {
        width: 234px;
        height: 68px;
        display: inline-block;
        margin: 34px 16px 15px 16px;
        font-weight: bold;
    }

    .quoter {
        position: absolute;
        bottom: 54px;
        right: 24px;
        font-size: 11px;
        font-weight: bold;
        text-align: right;
    }

    .name,
    .year {
        display: block;
    }
</style>
