<template>
    <div class="box baas-box">
        <h3 class="box-sub-title"> Haag Uit {{ jaar }} wordt mede mogelijk gemaakt door </h3>
        <div class="box baas-logo">
            <a :href="displayedSponsor.url" target="_blank">
                <transition name="fade" mode="out-in">
                    <img :key="displayedSponsor.id" :src="displayedSponsor.logo"
                         :alt="displayedSponsor.naam">
                </transition>
            </a>
        </div>
        <div class="centered">
            <a class="baas-url" href="/pagina/sponsoren">Uw logo hier?</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "SponsorBoxComponent",

        props: ['jaar'],

        data() {
            return {
                sponsors: {},
                displayedSponsor: {
                    id: '',
                    naam: '',
                    url: '',
                    logo: ''
                },
            }
        },

        created() {
            axios.get('/api/sponsor/feed')
                .then(result => {
                    this.sponsors = result.data;
                    this.displayedSponsor = _.sample(this.sponsors);
                })
                .catch(console.error);

            if (this.sponsors.lenght) {
                console.log('length');
                setInterval(this.changeDisplayedSponsor, 15000);
            }
        },

        methods: {
            changeDisplayedSponsor() {
                let newSponsor = _.sample(this.sponsors);
                if (this.displayedSponsor === newSponsor) {
                    this.changeDisplayedSponsor();
                }
                this.displayedSponsor = newSponsor;
            }
        }

    }
</script>

<style scoped>
    .centered {
        text-align: center;
    }

    .fade-enter-active {
        transition: all .5s ease;
    }

    .fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }

    .fade-enter, .fade-leave-to {
        opacity: 0;
    }
</style>