<script>
    export default {
        name: "InschrijfFormulierPage",

        props: ['paymentType'],

        data() {
            return {
                type: this.paymentType,
                processing: false,
                pakket: "1",
            }
        },

        methods: {
            send() {
                this.processing = true;
            }
        },

        computed: {
            isIncasso() {
                return this.type === 'incasso';
            }
        }
    }
</script>

<style scoped>

</style>