// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Variables
@import 'variables';

@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

body {
    text-align: center;
}

.page-header {
    margin-bottom: 2em;
}

.total-inschrijvingen {
    font-size: 80px;
    margin-bottom: 0.5em;
}

.verhouding-box {
    font-size: 30px;
    margin-bottom: 1em;
}

.boxed {
    font-size: 40px;
    border:2px solid black;
}