// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
// Variables
@import 'variables';
// Bootstrap
//@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul , li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    text-indent: 0;
}

body {
    background: #f2f2f2 url('../img/bg-body.png') top center repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2d2d2d;
}

body:before {
    content: "";
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
}

a img, img {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

h2.box-title {
    color: #2384ae;
    font-size: 32px;
}

h3.box-sub-title {
    color: #2384ae;
    font-size: 16px;
    margin: 0 0 16px 0;
}

.aside-right h3.box-sub-title {
    color: #afafaf;
    font-size: 22px;
    text-align: center;
    margin: 0 0 16px 0;
}

h4 {
    display: inline-block;
    color: #747474;
    font-size: 15px;
    font-weight: bold;
    padding: 0;
    margin: 8px 0 4px 0;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.red, .error {
    color: #ef4832;
}

.green, .success {
    color: #4b700b;
}

.blue, .info {
    color: #009ae0;
}

.grey, .subtle {
    color: #ada8a9;
}

.brown, .offset {
    color: #523c37;
}

.subtle {
    font-size: 12px;
}

.error {
    position: relative;
    float: right;
    max-width: 130px;
    padding: 3px 5px;
    border: 1px solid #EF4832;
    border-radius: 3px;
    background: white;
    color: #2D2D2D;
    font-size: 11px;
    line-height: 13px;
}

.level {
    display: flex;
    align-items: center;
}

.flex {
    flex: 1;
}
/* ------------------------------- */

/* ------------------------------- list styles */

/* ------------------------------- */

/* ------------------------------- clearfix */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

.hidden {
    display: none;
}

/* ------------------------------- */

/* ------------------------------- separator */
.separator {
    height: 1px;
    width: 100%;
    margin: 16px 0;
    background: #bababa;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 1);
}

/* ------------------------------- */

/* ------------------------------- .container & .box grid / sizes */
.full {
    width: 100%;
}

/* --- */
.wide {
    width: 580px;
}

.x-wide {
    width: 780px;
}

.xx-wide {
    width: 992px;
}

/* --- */
.xx-narrow {
    width: 480px;
}

.x-narrow {
    width: 180px;
}

.narrow {
    width: 80px;
}

/* ------------------------------- */

/* ------------------------------- .container & .box */
.container {
    position: relative;
    height: auto;
    margin: 0 auto;
}

.box {
    position: relative;
    height: auto;
    margin: 0 auto;
}

/* ------------------------------- */

/* ------------------------------- container :: page-top */
.container.page-top {
    position: relative;
    height: 385px;
    margin: 0 auto;
    background: transparent;
    box-shadow: 0 1px 19px rgba(0, 0, 0, .46);
}

/* ------------------------------- box :: logo */
.box.logo {
    z-index: 115;
    position: absolute;
    height: 194px;
    width: 194px;
    margin: 0 auto;
    top: 0;
    left: 399px;
    text-align: center;
}

.box.logo a img {
    max-width: 194px;
    margin: 4px 0 0 3px;
}

/* ------------------------------- */

/* ------------------------------- box :: navigation */
.box.navigation {
    z-index: 110;
    position: relative;
    height: 196px;
    margin: 0 auto;
    padding-top: 38px;
    top: 24px;
    background: transparent url('../img/navigation-bg.png') top center no-repeat;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.box.navigation ul.nav-list,
.box.navigation ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    height: 48px;
}

ul.nav-list.fleft, .fleft {
    float: left;
}

ul.nav-list.fright {
    float: right;
    width: 346px;
}

.box.navigation ul li {
    float: left;
}

.box.navigation ul li a.nav-link.default {
    display: block;
    padding: 15px 28px;
    font-size: 16px;
    color: #afafaf;
}

.box.navigation ul li.has-child {
    background: transparent url('../img/icons/has-child-icon.png') 95% 23px no-repeat;
}

.box.navigation ul li.has-child:hover {
    background: transparent url('../img/icons/has-child-icon-hover.png') 95% 23px no-repeat;
}

.box.navigation ul li.has-child:hover > a {
    color: #2384ae;
}

.box.navigation ul li a.nav-link.default:hover,
.box.navigation ul li a.nav-link.current {
    text-decoration: none;
    color: #2384ae;
}

.nav-list-drop {
    z-index: 125;
    position: absolute;
    display: none;
    width: 220px;
    height: auto;
    margin-top: -1px;
    margin-left: -18px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-right-color: #dadada;
    border-bottom-color: #dadada;
}

.nav-list-drop li {
    float: none;
    width: 100%;
    height: 32px;
    margin: 0;
    padding: 8px 16px;
}

.nav-list-drop li a {
    display: block;
    font-size: 14px !important;
}

.box.navigation li.has-child:hover ul {
    position: absolute;
    display: block;
}

.box.navigation a, .box.navigation a:link {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: #2384ae;
}

.box.navigation a:hover, .box.navigation a:active {
    text-decoration: underline;
    color: #2384ae;
}

/* ------------------------------- */

/* ------------------------------- container :: page-wrap */
.container.page-wrap {
    z-index: 150;
    height: auto;
    min-height: 400px;
    margin: 32px auto 48px;
    background: transparent;
}

/* ------------------------------- */

/* ------------------------------- container :: page-content */
.container.page-content {
    display: inline-block;
    float: left;
    height: auto;
    width: 680px;
    margin: 0 auto;
    background: transparent;
}

/* ------------------------------- */

/* ------------------------------- box :: text-box */
.box.text-box {
    height: auto;
    width: 648px;
    margin: 0 auto 16px auto;
    padding: 16px 16px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-right-color: #dadada;
    border-bottom-color: #dadada;
}

.box-footer {
    text-align: right;
    font-weight: bold;
}

.box.text-box ul {
    padding: 0;
    margin: 0;
}

.box.text-box li {
    padding: 8px;
    list-style: circle;
    margin-left: 32px;
}

.box.text-box p {
    line-height: 22px;
}

.box.text-box .text {
    line-height: 22px;
}

li.nieuws {
    font-style: normal !important;
    margin-left: 20px !important;
}

.date {
    display: inline-block;
    width: 75px;
    font-style: italic !important;
}

.box.text-box a, .box.text-box a:link {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    color: #2384ae;
}

.box.text-box a:hover, .box.text-box a:active {
    text-decoration: underline;
    color: #2384ae;
}

/* ------------------------------- */

.pagination {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    border-radius: .25rem;
    justify-content: center!important;
}
.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
/* ------------------------------- container :: aside-right */
.container.aside-right {
    display: inline-block;
    float: right;
    height: auto;
    width: 292px;
    margin: 0 auto;
    background: transparent;
}

.container.aside-right a, .container.aside-right a:link {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    color: #2384ae;
}

.container.aside-right a:hover, .container.aside-right a:active {
    text-decoration: underline;
    color: #2384ae;
}

/* ------------------------------- box :: quote-box */
.box.baas-box {
    height: auto;
    width: 292px;
    margin: 0 auto;
    padding: 16px 0 0 0;
    background: transparent;
    display: block !important;
}

.box.baas-box .box-sub-title {
    font-size: 16px !important;
}

.box.baas-logo {
    text-align: center;
    height: auto;
    margin: 16px auto;
}

.box.baas-logo img {
    margin: auto;
    max-width: 250px;
}

.box.baas-box .baas-url {
    display: inline-block;
    width: 259px;
    padding: 8px 16px;
    margin: 0 auto;
    background: #fff;
    border-radius: 3px;
}

.container.page-content div .box.baas-logo {
    width: 46%;
    display: inline-block;
}

.baas-logo.hoofd-baas {
    width: 100% !important;
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid #2384ae;
    border-bottom: 1px solid #2384ae;
}

.box.hoofd-baas img {
    max-width: 640px;
}

.hoofd-baas-info {
    font-size: 16px;
    font-style: italic;
}

/* ------------------------------- */

/* ------------------------------- form :: inschrijven */
label {
    position: relative;
    display: inline-block;
    width: 199px;
    vertical-align: top;
    line-height: 30px;
}

label.wide {
    width: 450px !important;
}

form p {
    min-height: 24px;
    line-height: 24px;
}

form .left {
    float: left;
    margin-top: 8px;
}

form .right {
    float: right;
}

form input {
    position: relative;
    margin: 4px 16px 4px 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border: 1px solid #adadad;
    padding: 4px 8px;
}

form input:hover {
    border: 1px solid #2384AE;
}

form input:focus {
    outline: 1px solid #2384AE;
}

form textarea:focus {
    outline: 1px solid #2384AE;
}

form input[type=radio]:focus {
    outline: none;
}

form input[type=text] {
    width: 264px;
}

form input[type=email] {
    width: 264px;
}

form select {
    margin: 4px 16px 4px 0;
    padding: 4px 8px;
    width: 264px;
}

.datepicker {
    display: inline;
}

.datepicker div {
    display: inline;
}

form textarea {
    clear: both;
    position: relative;
    width: 264px;
    border-radius: 3px;
    border: 1px solid #adadad;
    padding: 3px 8px;
    margin: 4px 16px 4px 0;
}

form textarea, form input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    color: #2d2d2d;
}

form#hu_contactformulier textarea {
    height: 124px;
}

select {
    padding: 3px;
    margin: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #adadad;
    outline: none;
    display: inline-block;
    cursor: pointer;
}

form span.selectpointer {
    position: relative
}

form span.selectpointer:after {
    content: '<>';
    position: absolute;
    right: 4px;
    top: -1px;
    font: 11px "Consolas", monospace;
    color: #2d2d2d;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    padding: 6px 7px 4px 1px;
    pointer-events: none;
}

form span.selectpointer:before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    right: 1px;
    top: -4px;
    background: transparent;
    pointer-events: none;
}

form select option {
    padding: 4px 0 0;
    display: inline-block;
}

form .incasso {
    display: none;
}

form input[type=submit] {
    position: relative;
    display: inline-block;
    width: 282px;
    padding: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border: 1px solid #2384ae;
    background: #45aad6;
    background: -moz-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45aad6), color-stop(100%, #2384ae));
    background: -webkit-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -o-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -ms-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: linear-gradient(to bottom, #45aad6 0%, #2384ae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aad6', endColorstr='#2384ae', GradientType=0);
    color: #fff;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, .4);
}

form input[type=submit]:focus,
form input[type=submit]:hover {
    box-shadow: inset 0 0 9px rgba(0, 0, 0, .7);
}

form input[type=submit]:disabled {
    border: none;
    background: #cbd5e0;
    color: #a0aec0;
    box-shadow: none;
}

/* ------------------------------- */

/* ------------------------------- box :: login-form */
.box.login-btn {
    position: relative;
    width: 292px;
    min-height: 90px;
    margin-top: 42px;
    border-radius: 6px;
    background: rgba(255, 255, 255, .3);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, .4);
    text-align: center;
}

.box.login-btn form input[type=text],
.box.login-btn form input[type=password] {
    position: relative;
    display: inline-block;
    width: 258px;
    margin: 8px 8px 0 8px;
    padding: 8px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
}

.box.login-btn form input[type=submit] {
    width: 276px;
    margin: 8px;
}

span.login-title {
    z-index: 150;
    position: absolute;
    display: block;
    padding: 4px 8px;
    left: 94px;
    top: -22px;
    font-size: 11px;
    color: #fff;
    border-radius: 3px 3px 0 0;
    background: #45aad6;
    background: -moz-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #45aad6), color-stop(100%, #2384ae));
    background: -webkit-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -o-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: -ms-linear-gradient(top, #45aad6 0%, #2384ae 100%);
    background: linear-gradient(to bottom, #45aad6 0%, #2384ae 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45aad6', endColorstr='#2384ae', GradientType=0);
}

/* ------------------------------- */

/* ------------------------------- container :: page-footer */
.container.page-footer {
    clear: both;
    display: block;
    height: 100px;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: #afafaf;
}

/* ------------------------------- */
